
//@import "roboto";
//@import "noto-sans";

page-register {
	.regbkg {
		background-image: url(../assets/imgs/UI/registerationbk.png) !important;
		// background-repeat: no-repeat;
		// background-position: center;
		background-image: 999vh;
		background-size: cover !important;
		-webkit-background-size: cover !important;
		
	}

	#reg{
		font-size: 38px;
		margin-top: 0.2em;
		font-family: "Roboto", "Helvetica Neue", sans-serif;
		text-align: center;

	}

	
	

	// #chk{
	// 	 color: white; 
	// 	 padding-left: 150px;
		 

	// }

	#ic{
		color: white;
		font-size: 22px;
		float: right;

	}

	#list{
		padding-top: 40vh;
		color: blue;
	}

	.trans {
		background-color: transparent !important;
		
		
	}

	#txt{
		padding-top: 0.1vh;
		font-size: 12.3px;
	}

	#pass{
		// padding-top: 30vh;
		font-size: 12.3px;
	}

	#cpass{
		// padding-top: 30vh;
		font-size: 12.3px;
	}

	p{
		color: white;
		padding-left: 3vh;
		font-family: "roboto";
	}

	#avatar{
		color: white;
		padding-left: 3vh;
		font-family: "roboto";
		text-transform: none;
		font-size: 13.6px;
		text-decoration: none;
			}

	#authentication{
		color: white;
		padding-left: 3vh;
		font-family: "roboto";
		text-transform: none;
		font-size: 13.6px;
		text-decoration: none;

	}

	#yog{
		font-family: "roboto";	
		font-size: 12.3px;
	}

	#maj{
		font-family: "roboto";	
		font-size: 12.3px;
		
	}

	#ava{
		color: white;
		margin-left: 0.2em;
		font-size: 3vh;
		// margin-bottom: 50em;
	}


	#auth{
		color: white;
		padding-left: 1vh;
		font-size: 2.9vh;
		// padding-bottom: 5vh;

	}

	#help{
		color: white;
		float: left;
		font-size: 3vh;
		padding-right: 15vh;

	}

	// #foot{
	// 	color: white;
	// 	padding-left: 150px;
	// 	padding-top: 2.0vh;
	// 	font-size: 30px;

	// }

	#chk{
		padding-left: 150px;
		color: white;
		font-size: 30px;
	}

	#signBtn{
		font-style: italic;
		color: black;
		text-align: center;
	}

	

}
