
@import "roboto";
@import "noto-sans";

page-register {
	.regbkg {
		background-image: url(../assets/imgs/UI/registerationbk2.png) !important;
		// background-repeat: no-repeat;
		// background-position: center;
		background-image: 999vh;
		background-size: cover !important;
		-webkit-background-size: cover !important;
		
	}
	// .regbkg {
	// 	background-image: url(../assets/imgs/UI/registerationbk2.png);
	// }
	// .regbkg{
	// 	background-size: cover;

	// }
	// .regbkg{
	// 	background-image: 100vh;

	// }
	// .regbkg{
	// 	-webkit-background-size: cover;

	// }

	
	#chk{
		 color: white;
		// font-size:40px;
		// padding-top: 20vh;
		 padding-left: 150px;
	}

	#ic{
		color: white;
		font-size: 22px;
		float: right;

	}

	#list{
		padding-top: 40vh;
		color: blue;
	}

	.trans {
		background-color: transparent !important;
		//font-family:"Trebuchet MS", Helvetica, sans-serif;
		
	}

	#txt{
		//font-family: "Trebuchet MS", Helvetica, sans-serif;
		//font-size: 15px;
		padding-top: 30vh;
	}

	p{
		color: white;
		padding-left: 3vh;
		//font-size: 15px;
		font-family: "roboto";
	}

	#avatar{
		color: white;
		padding-left: 3vh;
		//font-size: 15px;
		font-family: "roboto";
	}

	#authentication{
		color: white;
		padding-left: 3vh;
		//font-size: 15px;
		font-family: "roboto";
	}

	#yog{
		//font-size: 15px;
		font-family: "roboto";	
	}

	#ava{
		color: white;
		padding-left: 1vh;
		font-size: 3vh;
		padding-bottom: 2vh;
		// padding-top: 20px;
	}


	#auth{
		color: white;
		padding-left: 1vh;
		font-size: 3vh;
		padding-bottom: 2.1vh;

	}

	#help{
		color: white;
		float: left;
		font-size: 3vh;
		padding-right: 15vh;

	}

	

}
