page-login {
	.lgbk {
		background-image: url(../assets/imgs/UI/Loginbk.png) !important;
		// background-repeat: no-repeat;
		// background-position: center;
		background-image: 999vh;
		background-size: cover !important;
		-webkit-background-size: cover !important;
		
	}

	#log{
		font-size: 38px;
		margin-top: 3.6em;
		text-align: center;
		font-family: "Roboto", "Helvetica Neue", sans-serif;
		color: white;

	}


	.trans {
		background-color: transparent !important;	
	}

	#txt{
		padding-top: 6vh;
	}

	#authentication{
		color: white;
		padding-left: 3vh;
		font-family: "roboto";
		text-transform: none;
		font-size: 13.6px;
	
	}


	#auth{ 
		color: white;
		// padding-left: 1vh;
		font-size: 3.2vh;
		// padding-bottom: 4.9vh;

	}

	#chk{
		color: white;
		padding-left: 150px;
		
	}

	#regBtn{
		margin-top: 1.8vh;
		font-style: italic;
		color: black;
	}
}
